<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta charset="UTF-8">
		<title>SAPUI5 Navigation</title>
		<script
				id="sap-ui-bootstrap"
				src="https://openui5.hana.ondemand.com/resources/sap-ui-core.js"
				data-sap-ui-theme="sap_bluecrystal"
				data-sap-ui-libs="sap.m"
				data-sap-ui-bindingSyntax="complex"
				data-sap-ui-compatVersion="edge"
				data-sap-ui-preload="async"
				data-sap-ui-resourceroots='{
					"sap.ui.demo.nav": "./"
				}'>
		</script>

		<script>
			sap.ui.getCore().attachInit(function () {
				new sap.m.Shell({
						app: new sap.ui.core.ComponentContainer({
							name: "sap.ui.demo.nav",
							height: "100%"
						})
					}).placeAt("content");
			});

		</script>

	
                  <script type="text/javascript">
                    var AKSB=AKSB||{};AKSB.q=[];AKSB.mark=function(c,a){AKSB.q.push(["mark",c,a||(new Date).getTime()])};AKSB.measure=function(c,a,b){AKSB.q.push(["measure",c,a,b||(new Date).getTime()])};AKSB.done=function(c){AKSB.q.push(["done",c])};AKSB.mark("firstbyte",(new Date).getTime());
                    AKSB.prof={custid:"333580",ustr:"",originlat:0,clientrtt:283,ghostip:"184.86.250.139",ipv6:false,pct:10,xhrtest:false,clientip:"203.13.146.60",requestid:"11de85",protocol:"",blver:2,akM:"x",akN:"ae",akTT:"O",akTX:"1",
                    akTI:"11de85"};
                    (function(c){var a=document.createElement("iframe");a.src="javascript:false";(a.frameElement||a).style.cssText="width: 0; height: 0; border: 0; display: none";var b=document.getElementsByTagName("script"),b=b[b.length-1];b.parentNode.insertBefore(a,b);a=a.contentWindow.document;b=String.fromCharCode;c=b(60)+"body onload=\"var js = document.createElement('script');js.id = 'aksb-ifr';js.src = '"+c+"';document.body.appendChild(js);\""+b(62);a.open().write(c);a.close()})(("https:"===document.location.protocol?
                    "https:":"http:")+"//ds-aksb-a.akamaihd.net/aksb.min.js");
                  </script>
                  </head>
	<body class="sapUiBody" id="content">
	</body>
</html>
